@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;

}

body{
    
    background-image: url(../img/fondoBody.png);
}



header{
        background-color: #acecec;
        position: fixed;
        padding: 10px;
        width: 100%;
        top: 0;
        z-index: 1;
        .navegacion{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .logo{
                color: #000000;
            }
            .buscador{
                width: 40%;
            }
            .pago{
                position: absolute;
                bottom: 0;
                padding-top: 10px;
                margin: 30px auto;
                border-top: #000000 solid 2px;
                width: 90%;
                
            }
            .productos{
                overflow-y: scroll;
                height: 75%;
            }
            #cardProducto{
                border: none;
                border-bottom: #acecec solid 4px;
                width: 90%;
                border-radius: 0%;
                padding-bottom: 10px;
                .btn-cerrar{
                    margin: auto;
                
                }
                .imagenCarrito{
                   padding: 10px;
                   margin-top: 20px;
                }
                
                #precioCarrito{
                    margin-top: 10px;
                }
            }
        }
    }

    .titulo{
        margin-top: 150px;
        text-align: center;
        border-bottom: #acecec solid 4px;
        width: 90%;
        margin-left:  auto;
        margin-right: auto;
       
        h1{
            color: #000000;
        }
        .subtitulo{
            font-size: 20px;
            color: #000000;
        }
    }

section{
    
    .card{
        margin: 30px 50px;
        background-color: #ffffff;
        border: none;
        box-shadow: 0 0 20px 0;
        .agregarCarrito{
            background-color: #15b1b1;
            color: #000000;
            border: none;
            &:hover{
                background-color: #15b1b1;
                color: #f4fdfd;
            }
        }
        img{
            height: 50%;
            width: 100%;
            padding: 30px 60px;
            border-bottom: #15b1b1 solid 2px;

        }
    }
    #precio_producto{
        background-color: #ffffff;
        
        border-bottom: #15b1b1 solid 2px;
    }
    #mensajeNoEncontrado{
        display: none;
        text-align: center;
        width: 100%;
        height: 100vh;
        margin-top: 300px;
        .llorar{
            width: 300px;
        }
    }
    #cargandoMensaje{
        display: none;
        text-align: center;
        height: 100vh;
        margin-top: 200px;
    }
}

#offcanvasBottom{
    height: 300px;
    h5{
        text-align: center;
        border-bottom: #15b1b1 solid 4px;
        width: 90%;
        margin: 0 auto;
    }
    #realizarPago{
        width: 40%;
        margin: 0 auto;
        text-align: center;
        #botonCompra{
            width: 100%;

        }
            h6{
                width: 40%;
                margin-top:40px;
                margin-bottom: 40px;
                margin-left: auto;
                margin-right: auto;
                border-bottom: #acecec solid 4px;
            }
    }
}


.filtro{
    display: none;
}


  .footer{
    border-top: #acecec solid 6px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    a{
        margin-left: 20px;
    }
}

.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }